/* .contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
} */

/* .contact_container_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
} */

/* .contact_container_information div {
    margin: 10px 0;
    text-align: center;
} */


.contact_container{
    display: flex;
    justify-content: space-around;
    padding: 20px 0 100px;
    flex-wrap: wrap;
}

.contact_container_map {
    width: 500px;
    /* display: flex; */
    /* justify-content: center; */
}

.map_container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
