.forparents_container{
    margin-top: 140px;
    border-top: 50px solid #9470DB;
    padding: 15px;
}

.forparents_header_text{

}

.forparents_header_text{
    
}

.wrapper{
    
}

.forparents_text{

}

.forparents_photo{

}

.forparents_photo_section1{

}

.forparents_photo_section2{

}

.forparents_photo_section3{

}