.forparents_container{
    margin-top: 140px;
    border-top: 50px solid #FFA500;
    padding: 40px 20px 20px;
    border-bottom: 50px solid #FFA500;
}

.forparents_header_text{
    text-align: center;
}

.forparents_header_text h3{
    margin: 0;
}

.forparents_header_text img{
    margin: 30px 0;
}

.forparents_header_text h4{
    margin-bottom: 20px;
}


.forparents_rules_wrapper{
    display: flex;
}

.forparents_rules_wrapper a{
    display: inline-block;
}

.parentWrapper{
    max-width: 1300px;
    display: flex;
}

.forparents_text{
    max-width: 750px;
    border: 10px solid #9470DB;
    border-radius: 10px;
}

.forparents_text h2{
    margin: 0;
    padding: 30px 0 30px 20px;
}

.forparents_text p{
    margin: 0;
    padding: 30px 0;
    font-size: 18px;
}

.forparents_photo{
    max-width: 450px;
    margin-top: 30px;
    display: flex;
    padding-left: 50px;
}

.forparents_photo_section1{
    flex-direction: column;
}

.forparents_photo_section1 img{
    max-height: 200px;
    border-radius: 50%;
}

.margin_left{
    margin-left: 200px;
    margin-top: -50px;
}

.forparents_photo_section2{

}

.forparents_photo_section2 img{
    max-height: 200px;
    border-radius: 50%;
}

.forparents_photo_section3{
    
}

.forparents_photo_section3 img{
    max-height: 200px;
    border-radius: 50%;
}