@media (max-width: 1190px) {
    .circle_logo2 {
        left: 65%;
    }

    .circle_logo3 {
        display: none;
    }

    .circle-medium {
        top: 75%;
    }

    .circle-small {
        top: 93%;
        left: 44%;
    }
}

@media (max-width: 1080px) {
    .circle_logo2 {
        left: 67%;
    }

    .circle-small {
        top: 93%;
        left: 41%;
    }
}

@media (max-width: 960px) {
    .circle_logo2 {
        left: 69%;
    }

    .circle-small {
        left: 38%;
    }

    .margin_left {
        display: none;
        align-items: center;
    }

    .forparents_photo_section1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .forparents_rules_button div {
        margin: 5px 0;
    }
}

@media (max-width: 860px) {

    .home_news {
        flex-wrap: wrap;
        justify-content: center;
    }

    .circle_logo1 {
        left: 65%;
    }

    .circle-small {
        left: 34%;
    }

}

@media (max-width: 768px) {

    .header_info {
        justify-content: space-around;
    }

    .header_contact {
        display: none;
    }

    .nav_links {
        display: none;
    }

    .circle_logo2 {
        top: 40%;
        left: 72%;
    }

    .circle-small {
        left: 30%;
    }
}

@media (max-width: 650px) {
    .circle-small {
        top: 97%;
        left: 27%;
    }
}

@media (max-width: 600px) {

    .services-container{
        margin-bottom: 100px;
    }

    .circle {
        border-radius: 10%;
    }

    .circle_logo1 {
        display: none;
    }

    .circle_logo2 {
        display: none;
    }

    .circle_logo3{
        display: none;
    }

    .circle-large{
        top: 40%;
        left: 60%;
    }

    .circle-medium{
        width: 400px;
        left: 50%;
    }

    .circle-small{
        top: 107%;
        left: 50%;
        z-index: 3;
    }
}

/* @media (max-width: 500px) {

    .home_news {

        display: block;
        padding: 20px 0 50px;

    }

    .home_news_photo {

        margin-bottom: 450px;
    }

    .photo1 {
        left: 0;
        top: 0;
    }

    .photo1 img {
        max-height: 330px;
        max-width: 330px;
    }

    .photo2 {
        left: 90px;
        top: 250px;
    }









    .circle_logo1 {
        display: none;
    }

    .services-container {
        margin-bottom: 350px;
        margin-top: 100px;
    }

    .circle_logo2 {
        display: none;
    }

    .circle_logo3 {
        display: none;
    }

    .circle-large {
        width: 425px;
        height: 500px;
        top: 35%;
        left: 40%;
    }

    .circle-large ul {
        padding: 0;
    }

    .circle-large li {
        list-style-type: none;
    }

    .circle-large p {
        text-align: center;
        max-width: 400px;
        font-weight: 800;
    }


    .circle-medium {
        width: 390px;
        height: 400px;
        left: 30%;
    }

    .circle-medium ul {
        padding: 0;
    }

    .circle-medium li {
        list-style-type: none;
    }

    .circle-medium p {
        text-align: center;
        font-weight: 800;
    }



    .circle-small {
        width: 330px;
        height: 350px;
        top: 130%;
        left: 30%;
    }

    .circle-small ul {
        padding: 0;
        list-style-type: none;
    }

    .circle-small p {
        text-align: center;
        font-size: 15px;
        font-weight: 800;
    }






    



    .price_container_wrapper td {
        border-bottom: 2px solid #FE6F61;
    }

    .price_container_wrapper p {
        font-size: 18px;
    }

    .price_container_wrapper span {
        margin: 0 auto;
    }







    .forparents_rules_button div {
        margin: 10px 0;
        max-width: 300px;
    }

    .forparents_photo {
        display: none;
    }

    .parentWrapper {
        flex-wrap: wrap;
    }

    .forparents_text img {
        display: block;
        max-height: 200px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .forparents_text p {
        padding: 10px;
        font-size: 19px;
    }

} */

/* @media (max-width: 425px) {

    .home_news_info {
        margin-left: 25px;
    }

    .circle-large {
        width: 425px;
        height: 500px;
        top: 35%;
        left: 38%;
    }

    .circle-medium {
        width: 400px;
        height: 400px;
        left: 24%;
    }

    .circle-small {
        width: 400px;
        height: 400px;
        top: 130%;
        left: 24%;
    }

} */

@media (max-width: 414px) {

    .circle-large {
        width: 410px;
        height: 540px;
        top: 35%;
        left: 37%;
    }

    .circle-medium {
        width: 412px;
        height: 420px;
        top: 75%;
        left: 22%;
    }

    .circle-small {
        width: 412px;
        height: 420px;
        top: 115%;
        left: 22%;
    }

}

@media (max-width: 375px) {
    .home_news_photo {
        margin-left: -25px;
    }

    .home_news_info {
        margin-left: 5px;
    }

    .circle-large {
        width: 375px;
        height: 590px;
        top: 42%;
        left: 33%;
    }

    .circle-medium {
        width: 375px;
        height: 400px;
        top: 90%;
        left: 17%;
    }

    .circle-small {
        width: 375px;
        height: 400px;
        top: 138%;
        left: 17%;
    }


}