@media only screen and (max-width: 500px){

    /* 
        Header component
    */
    .nav_links{
        display: none;
    }


    /* 
        News component
    */

    .home_news{
        /* flex-direction: column; */
        display: block;
        padding: 20px 10px 50px;
    }

    .home_news_photo{

        margin-bottom: 450px;
    }

    .photo1 {
        left: 0;
        top: 0;
    }
    
    .photo1 img{
        max-height: 330px;
        max-width: 330px;
    }

    .photo2 {
        left: 90px;
        top: 250px;
    }
    

    /* 
        Services component
    */

    .circle_logo1{
        top: -6%;
        left: 55%;
    }

    .services-container{
        margin-bottom: 350px;
        margin-top: 100px;
    }

    .circle_logo2{
        display: none;
    }
    .circle_logo3{
        display: none;
    }

    .circle-large{
        width: 390px;
        height: 500px;
        top: 42%;
        left: 60%;
    }

    .circle-large ul{
        padding: 0;
    }

    .circle-large li{
        list-style-type: none;
    }

    .circle-large p{
        text-align: center;
        max-width: 400px;
        font-weight: 800;
    }
    
    
    .circle-medium{
        width: 390px;
        height: 400px;
        top: 86%;
        left: 50%;
    }
    
    .circle-medium ul{
        padding: 0;
    }
    
    .circle-medium li{
        list-style-type: none;
    }
    
    .circle-medium p{
        text-align: center;
        font-weight: 800;
    }



    .circle-small{
        width: 330px;
        height: 400px;
        top: 130%;
        left: 50%;
    }

    .circle-small ul{
        padding: 0;
        list-style-type: none;
    }

    .circle-small p{
        text-align: center;
        font-size: 15px;
        font-weight: 800;
    }

    /* 
        Price component
    */



    .price_container_wrapper td{
        border-bottom: 2px solid #FE6F61;
    }

    .price_container_wrapper p{
        font-size: 18px;
    }

    .price_container_wrapper span{
        margin: 0 auto;
    }


    /* 
        ForParents component
    */

    .forparents_rules_button div{
        margin: 10px 0;
        max-width: 300px;
    }

    .forparents_photo{
        display: none;
    }

    .parentWrapper{
        flex-wrap: wrap;
    }

    .forparents_text img{
        display: block;
        max-height: 200px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .forparents_text p{
        padding: 10px;
        font-size: 19px;
    }


}

@media (max-width: 1172px){
    .home_news{
        display: block;
        margin-left: 200px;
    }
    .home_news_photo{
        margin-bottom: 450px;
    }

    .circle_logo2{
        display: none;
    }
    .circle_logo3{
        display: none;
    }

    .services-container{
        margin-left: 150px;
        margin-bottom: 150px;
    }

    .circle-medium{
        top: 72%;

    }

    .circle-small {
        top: 102%;
        left: 45%;
    }
}