.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    margin: 0 auto;
}

.services-container li{
    text-align: left;
}

.circle {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: absolute;
}

.circle-large {
    width: 500px;
    height: 500px;
    background-color: #FF6F61; /* Main color */
    top: 45%;
    left: 50%;
    transform: translate(-60%, -60%);
    z-index: 2;
}

.circle-medium {
    width: 300px;
    height: 300px;
    background-color: #9370DB; /* Medium color */
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border: 2px solid black;

}

.circle-small {
    width: 250px;
    height: 250px;
    background-color: #FFA500; /* Small color */
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* h3, p, ul {
    color: #fff;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

ul li {
    margin-bottom: 5px;
    font-size: 12px;
} */
