.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    margin: 0 auto;
}

.services-container li{
    text-align: left;
}

.circle {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    position: absolute;
    color: white;
    font-weight: 700;
}
.circle_logo1 img{
    height: 100px;
    border-radius: 50%;
}

.circle_logo2 img{
    height: 100px;
    border-radius: 50%;
}

.circle_logo1{
    width: 150px;
    height: 150px;
    padding: 70px;
    border: 14px solid #9370DB;
    top: 1%;
    left: 47%;
}


.circle_logo2{
    width: 150px;
    height: 150px;
    padding: 80px;
    top: 25%;
    left: 50%;
    border: 14px solid #FFA500; ;
    
}

.circle_logo3{
    width: 150px;
    height: 150px;
    border: 14px solid blue;
    top: 56%;
    left: 44%;
    z-index: 2;
}


.circle-large {
    width: 500px;
    height: 500px;
    background-color: #FF6F61; /* Main color */
    top: 43%;
    left: 40%;
    transform: translate(-60%, -60%);
    z-index: 3;
    border: 1px solid black;
}

.circle-medium {
    width: 340px;
    height: 340px;
    background-color: #9370DB; /* Medium color */
    top: 63%;
    left: 61%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border: 1px solid black;
}

.circle-small {
    width: 300px;
    height: 300px;
    background-color: #FFA500; /* Small color */
    top: 90%;
    left: 45%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: left;
    z-index: 1;
    border: 1px solid black;
}

.circle-small-list {
    font-size: 12px;
}

.circle-small-list h5{
    text-align: center;
}

.services-container ul li{
    margin-bottom: 5px;
    font-size: 15px;
}

/* h3, p, ul {
    color: #fff;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

ul li {
    margin-bottom: 5px;
    font-size: 12px;
} */
