@media (max-width: 1190px) {
    .circle_logo2 {
        left: 65%;
    }

    .circle_logo3 {
        display: none;
    }

    .circle-medium {
        top: 75%;
    }

    .circle-small {
        top: 93%;
        left: 44%;
    }
}

@media (max-width: 1080px) {
    .circle_logo2 {
        left: 67%;
    }

    .circle-small {
        top: 93%;
        left: 41%;
    }
}

@media (max-width: 960px) {
    .circle_logo2 {
        left: 69%;
    }

    .circle-small {
        left: 38%;
    }

    .margin_left {
        display: none;
        align-items: center;
    }

    .forparents_photo_section1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .forparents_rules_button div {
        margin: 5px 0;
    }
}

@media (max-width: 860px) {

    .home_news {
        flex-wrap: wrap;
        justify-content: center;
    }

    .home_news_info{
        margin-top: 200px;
    }

    .circle_logo1 {
        left: 65%;
    }

    .circle-small {
        left: 34%;
    }

}

@media (max-width: 768px) {

    .header_info {
        justify-content: space-around;
    }

    .header_contact {
        display: none;
    }

    /* .nav_links {
        display: none;
    } */

    .circle_logo2 {
        top: 40%;
        left: 72%;
    }

    .circle-small {
        left: 30%;
    }
}

@media (max-width: 650px) {
    .circle-small {
        top: 97%;
        left: 27%;
    }
}

@media (max-width: 600px) {

    .header_links p{
        font-size: 10px;
    }

    .services-container{
        margin-bottom: 100px;
    }

    .circle {
        border-radius: 10%;
    }

    .circle_logo1 {
        display: none;
    }

    .circle_logo2 {
        display: none;
    }

    .circle_logo3{
        display: none;
    }

    .circle-large{
        top: 40%;
        left: 60%;
    }

    .circle-medium{
        width: 400px;
        left: 50%;
    }

    .circle-small{
        top: 107%;
        left: 50%;
        z-index: 3;
    }
}

@media (max-width: 500px) {

    .header_address p{
        font-size: 13px;
    }
    
    .vacancies_section h4{
        font-size: 13px;
        padding-left: 15px;
    }

    .home_news {

        display: block;
        padding: 20px 0 50px;

    }

    .home_news_photo {
        margin-bottom: 250px;
    }

    .home_text_first{
        font-size: 40px;
    }

    .home_text_second{
        font-size: 25px;
    }

    .home_news_info{
        margin-left: 50px;
    }

    .home_news_info .text_header p{
        font-size: 20px;
    }

    .home_news_info .text_body p{
        font-size: 15px;
    }

    .content2 p{
        font-size: 15px;
    }

    .photo1 {
        left: 15%;
        top: 0;
    }

    .photo1 img {
        max-height: 330px;
        max-width: 330px;
    }

    .photo2 {
        left: 160px;
        top: 280px;
    }


    .circle h3{
        font-size: 18px;
    }

    .circle-small-list h5{
        font-size: 18px;
    }

    .circle-small-list p{
        font-size: 13px;
    }

    .circle p{
        font-size: 13px;
    }


    .circle_logo1 {
        display: none;
    }

    .services-container {
        margin-bottom: 350px;
        margin-top: 100px;
    }

    .circle_logo2 {
        display: none;
    }

    .circle_logo3 {
        display: none;
    }

    .circle-large {
        width: 425px;
        height: 500px;
        top: 35%;
        left: 58%;
    }

    .circle-large ul {
        padding: 0;
    }

    .circle-large li {
        list-style-type: none;
    }

    .circle-large p {
        text-align: center;
        max-width: 400px;
        font-weight: 800;
    }


    .circle-medium {
        width: 390px;
        height: 400px;
        left: 50%;
    }

    .circle-medium ul {
        padding: 0;
    }

    .circle-medium li {
        list-style-type: none;
    }

    .circle-medium p {
        text-align: center;
        font-weight: 800;
    }



    .circle-small {
        width: 330px;
        height: 350px;
        top: 110%;
        left: 50%;
    }

    .circle-small ul {
        padding: 0;
        list-style-type: none;
    }

    /* .circle-small p {
        text-align: center;
        font-size: 15px;
        font-weight: 800;
    } */


    .col{
        padding: 0;
        max-width: 500px;
    }

    .g-4{
        margin: 0;
    }

    .card-text {
        font-size: 14px;
    }



    


    .price_container h3{
        font-size: 18px;
    }

    .price_container_wrapper td {
        border-bottom: 2px solid #FE6F61;
        font-size: 14px;
    }

    .price_container_wrapper p {
        font-size: 14px;
    }

    .price_container_wrapper span {
        margin: 0 auto;
    }

    .span_colour_price{
        font-size: 14px !important;
    }

    .span_colour_time{
        font-size: 14px !important;
    }

    .price_container p{
        font-size: 14px;
    }



    .forparents_container h4{
        font-size: 19px;
    }

    .forparents_header_text h3{
        font-size: 19px;
    }



    .forparents_rules_button div {
        margin: 10px 0;
        max-width: 300px;
    }

    .forparents_rules_button div p{
        font-size: 13px;
    }

    .forparents_photo {
        display: none;
    }

    .parentWrapper {
        flex-wrap: wrap;
    }

    .forparents_text img {
        display: block;
        max-height: 200px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .forparents_text h2{
        font-size: 19px;
    }

    .forparents_text p {
        padding: 10px;
        font-size: 15px;
    }



    .reviews-container h3{
        font-size: 17px;
    }

    .contact_container{
        padding: 20px 10px 50px !important;
    }

    .contact_container_information .text_center p{
        font-size: 17px;
    }

    .contact_container_map{
        display: none;
    }

    .contact_container_map_phone{
        display: block !important;
    }

}

@media (max-width: 430px) {

    .photo1{
        left: 10%;
    }

    .photo2{
        left: 130px;
    }

    .home_news_info {
        margin-left: 30px;
    }

    .home_news_photo{
        width: 420px;
    }

    .circle-large {
        width: 425px;
        height: 500px;
        top: 35%;
        left: 60%;
    }

    .circle-medium {
        width: 400px;
        height: 400px;
        left: 50%;
    }

    .circle-small {
        width: 400px;
        height: 400px;
        top: 110%;
        left: 50%;
    }

    .col{
        max-width: 420px;
    }

    .worker-card{
        max-width: 410px;
    }

    .forparents_photo{
        display: none;
    }
    .forparents_photo_section1{
        display: none;
    }

}

@media (max-width: 414px) {

    .home_news_photo{
        width: 410px;
    }

    .photo1{
        left: 8%;
    }

    .photo2{
        left: 30%;
    }

    .circle-large {
        width: 410px;
        height: 540px;
        top: 35%;
        left: 60%;
    }

    .circle-medium {
        width: 412px;
        height: 420px;
        top: 75%;
        left: 50%;
    }

    .circle-small {
        width: 412px;
        height: 420px;
        top: 115%;
        left: 50%;
    }

    .col{
        max-width: 410px;
    }



}

@media (max-width: 390px){

    .photo1{
        left: 5%;
    }

    .photo2{
        left: 28%;
    }

    .home_news_photo{
        width: 390px;
    }

    .col{
        max-width: 390px;
    }


}

@media (max-width: 375px) {
    .home_news_photo {
        /* margin-left: -25px; */
        width: 375px;
    }

    .services-container{
        margin-bottom: 500px;
    }

    .home_news_info {
        margin-left: 5px;
    }

    .circle-large {
        width: 370px;
        height: 590px;
        top: 42%;
        left: 60%;
    }

    .circle-medium {
        width: 350px;
        height: 400px;
        top: 90%;
        left: 50%;
    }

    .circle-small {
        width: 360px;
        height: 400px;
        top: 130%;
        left: 50%;
    }

    .col{
        max-width: 370px;
    }

}