.photo-carousel {
    position: relative;

    width: 100%;
    height: 100vh;
    z-index: -1; /* Ensure the carousel is behind any other content */
}

.photo-carousel .carousel-item {
    height: 100vh;
    width: 100%;
    position: relative; /* Ensure the gradient overlay stays within the carousel item */
    transition: transform 2s ease-in-out;
}

.photo-carousel img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    transition: transform 2s ease-in-out;
    filter: blur(5px);
}

.photo-carousel .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.26) 0, rgba(0, 0, 0, 0.146) 73.03%, #000);
    z-index: 1;
}

.photo-carousel .carousel-item.active {
    opacity: 1;
    transform: scale(1);
}

.photo-carousel .carousel-item-next,
.photo-carousel .carousel-item-prev {
    opacity: 0;
    transform: scale(1.15); /* Slight scale down for the incoming and outgoing images */
}

