.price_container{
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 100px;
}

.price_container h3{
    text-align: center;
    margin-top: 30px;
}

.price_container_wrapper{
    border: 5px solid #FE6F61;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
}

.price_container_wrapper table{
    margin: 20px;
}

.price_container_wrapper th{
    text-align: center;
    border-bottom: 2px solid #FE6F61;
}


.border-left{
    border-left: 2px solid #FE6F61;
}

.border-zero th{
    border-bottom: 0;
}

.price_container_wrapper p{
    margin: 0;
    padding: 10px;
}

.price_container_wrapper li{

}

.individual{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:30px;
}

.group{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:30px;
}

.price_container_description ul {
    list-style-type: none;
}

.price_container_description li{
    font-size: 18px;
    padding-top: 10px;
    /* text-align: center; */
}

.price_list ul{
    list-style-type: none;
    width: 380px;
}

.price_list li{
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}

.span_colour_price{
    color: #9470DB;
    font-size: 18px;
    font-weight: 700;
}

.span_colour_time{
    color: #FFA500;
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
}