.reviews-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 20px;
}

.reviews-container h3{
  text-align: center;
}


.reviews-list {
  display: flex;
  flex-wrap: wrap;
}

.review {
  border: 2px solid #FFA500;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #f9f9f9;
  margin: 0 10px;
  box-shadow: 0px -2px 8px 0px rgba(0,0,0,0.75) inset;
}

.carousel-container {
  padding: 20px 0;
}