.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    max-width: 1300px;
    position: relative;
    margin: 50px auto;

}

.services-container li{
    text-align: left;
}

.circle {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    position: absolute;
    color: white;
    font-weight: 700;
}
.circle_logo1 img{
    height: 100px;
    border-radius: 50%;
}

.circle_logo2 img{
    height: 100px;
    border-radius: 50%;
}

.circle_logo1{
    width: 150px;
    height: 150px;
    padding: 70px;
    border: 14px solid #9370DB;
    top: 0;
    left: 62%;
}


.circle_logo2{
    width: 150px;
    height: 150px;
    padding: 80px;
    top: 38%;
    left: 63%;
    border: 14px solid #FFA500; ;
    
}

.circle_logo3{
    width: 150px;
    height: 150px;
    border: 14px solid blue;
    top: 62%;
    left: 49%;
    z-index: 2;
}


.circle-large {
    width: 530px;
    height: 530px;
    background-color: #FF6F61; /* Main color */
    top: 43%;
    left: 53%;
    transform: translate(-60%, -60%);
    z-index: 3;
    border: 1px solid black;
}

.circle-medium {
    width: 340px;
    height: 340px;
    background-color: #9370DB; /* Medium color */
    top: 75%;
    left: 68%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border: 1px solid black;
}

.circle-small {
    width: 320px;
    height: 320px;
    background-color: #FFA500; /* Small color */
    top: 93%;
    left: 46%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: left;
    z-index: 1;
    border: 1px solid black;
}

.circle-small-list {
    font-size: 12px;
    list-style-type: none;
    padding: 15px;
}

.circle-small-list p{
    text-align: center;
}

.circle-small-list h5{
    text-align: center;
}

.services-container ul li{
    margin-bottom: 5px;
    font-size: 15px;
}

/* h3, p, ul {
    color: #fff;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

ul li {
    margin-bottom: 5px;
    font-size: 12px;
} */
